<div class="container">
    <h3>Create or choose customer</h3>

    <form novalidate class="form customerForm" name="form" ng-submit="addNewCustomer()">
        <div class="form-group">

            <label for="nameOrganization">Organization name</label>
            <input type="text" class="form-control" id="nameOrganization" ng-model="applicant.organizationName"
                   required name="pName">
            <div ng-show="form.$submitted || form.pName.$touched">
                <div ng-show="form.pName.$error.required">Organization name is needed.</div>
            </div>

        </div>

        <div class="form-group border">
            <label for="applicationArea">Application area</label>
            <input type="text" class="form-control" id="applicationArea"
                   ng-model="applicant.applicationArea">
        </div>

        <br>
        <label>CONTACT</label>

        <div class="form-group">
            <label for="nameContact">Name</label>
            <input type="text" class="form-control" id="nameContact" ng-model="applicant.contactName" required
                   name="uName">

            <div ng-show="form.$submitted || form.uName.$touched">
                <div ng-show="form.uName.$error.required">Contact name is needed.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required ng-model="applicant.email"
                   name="email">

            <div ng-show="form.$submitted || form.email.$touched">
                <span ng-show="form.email.$error.required">Email is needed.</span>
                <span ng-show="form.email.$error.email">This is not a valid email.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="skype">Skype</label>
            <input type="text" class="form-control" id="skype" ng-model="applicant.skype" name="uSkype">
        </div>
        <div class="form-group border">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" ng-model="applicant.phone">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">SUBMIT</button>
        </div>

    </form>

    <form novalidate class="form customerForm" name="chooseCustomerForm" ng-submit="chooseCustomer()">
        <div class="form-group">
            <label for="customer">Choose customer</label>

            <select ng-options="customer as (customer.organizationName) for customer in customers | orderBy: 'name'"
                    type="text" class="form-control" id="customer" ng-model="customer" required name="selectedCustomer"
                    selected="">
            </select>

            <!--<search-organization ng-model="customer"></search-organization>-->

            <div ng-show="chooseCustomerForm.$submitted || chooseCustomerForm.selectedCustomer.$touched">
                <div ng-show="chooseCustomerForm.selectedCustomer.$error.required">Customer is needed.</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">CHOOSE</button>
        </div>
    </form>



</div>
