.form-group {
    max-width: 500px;
    /*margin: 0 auto; /!*terve formi keskele paigutamiseks*!/*/
}

.form-mailBody{
    max-width: 100px;
}

.border {
    border-bottom: 1px solid coral;
    padding-bottom: 20px

}

.form input.ng-invalid.ng-touched {
    background-color: rgba(250, 88, 86, 0.23);
}

.search-list {
    padding: 10px;
}

.search-list li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.fa-bell {
    color: white;
}

.notification-on {
    color: yellow;
}

.productForm, .customerForm {
    /* Float both forms to the left */
    float: left;
    /* borders added for visibility. Just remove them */
    /*border: 1px solid rgba(17, 51, 22, 0.41);*/
    margin-right: 100px;
}

/*
.customerForm {
    /!* Float both forms to the left *!/
    float: left;
    /!* borders added for visibility. Just remove them *!/
    /!*border: 1px solid rgba(17, 51, 22, 0.41);*!/
    margin-right: 100px;

}*/

.clickable {
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.tooltip-for-me {
    margin-left: -1.1em;
    margin-top:-1em;
}
