.form-group {
    max-width: 600px;
    /*margin: 0 auto; /!*terve formi keskele paigutamiseks*!/*/
}

.form input.ng-invalid.ng-touched {
    background-color: rgba(250, 88, 86, 0.23);
}

body{
    color:red;
}
