<div class="container">
    <h3>Template view</h3>

    <form novalidate class="form">
        <div class="form-group">
            <label for="id">Id</label>
            <input id="id" class="form-control" data-ng-model="template.id" disabled>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input id="subject" class="form-control" data-ng-model="template.subject" data-ng-disabled="editorDisabled">
        </div>
        <div class="form-group">
            <label for="licenseType">License type</label>
            <input id="licenseType" class="form-control" data-ng-model="template.licenseType.name"
                   data-ng-disabled="editorDisabled">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" rows="8" class="form-control" data-ng-model="template.body" data-ng-disabled="editorDisabled"></textarea>
        </div>

        <button data-ng-click="enableEditor()">Edit</button>
        <button data-ng-click="saveTemplateProfile()" data-ng-disabled="editorDisabled">Save</button>
        <button data-ng-click="deleteTemplate()">Delete</button>

    </form>

</div>

