<div class="container">
    <h3>Product form</h3>

    <form novalidate class="form singleProductForm" name="addProductForm" ng-submit="addNewSingleProduct()">
        <div class="form-group">
            <label for="name">Create product</label>
            <input type="text" class="form-control" id="name" ng-model="product.name" required name="pName">

            <div ng-show="addProductForm.$submitted || addProductForm.pName.$touched">
                <div ng-show="form.pName.$error.required">Name is needed.</div>
            </div>
            <div ng-if="errorMessage">{{ errorMessage }}</div>
        </div>

        <div class="form-group">
            <label for="release">Release</label>
            <input type="text" class="form-control" id="release" ng-model="release.versionNumber">
            <!--<div ng-show="addProductForm.$submitted || addProductForm.pRelease.$touched">
                <div ng-show="form.pRelease.$error.required">Release number is needed.</div>
            </div>-->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">SUBMIT</button>
        </div>
    </form>

</div>
