<div class="container">
    <h3>Profile</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="col-lg-6">
          <p><b>Name: <br>
              Address: <br>
              Webpage: <br>
              Registration code: <br>
              Phone: <br>
              Bank account: <br>
              Fax: <br>
              Unit or faculty:
          </p></b><br>
        </div>
        <div class="col-lg-6">
          <p>
            {{licenseOwner.name}}<br>
            {{licenseOwner.address}}<br>
            {{licenseOwner.webpage}}<br>
            {{licenseOwner.registrationCode}}<br>
            {{licenseOwner.phone}}<br>
            {{licenseOwner.bankAccount}}<br>
            {{licenseOwner.fax}}<br>
            {{licenseOwner.unitOrFaculty}}<br>
          </p>
        </div>
      </div>
    </div>
</div>


<div class="container">
    <h3>Licenses</h3>
    <table class="table" id="licensesTable">
        <tr>
          <th>Product name</th>
          <th>Applicant name</th>
          <th>Organization</th>
          <th>Email</th>
          <th>Skype</th>
          <th>Phone</th>
          <th>Application area</th>
          <th>Valid From</th>
          <th>Expiration Date</th>
          <th>Status</th>
        </tr>

        <tr ng-repeat="license in licenses" data-ng-if="license.licenseOwner.name == licenseOwner.name">
            <td>{{ license.product.name + ' ' + license.product.release }}</td>
            <td>{{ license.name }}</td>
            <td>{{ license.licenseOwner.name }}</td>
            <td>{{ license.email }}</td>
            <td>{{ license.skype }}</td>
            <td>{{ license.phone }}</td>
            <td>{{ license.applicationArea }}</td>
            <td>{{ license.validFrom }}</td>
            <td>{{license.validTill}}</td>
            <!-- if more than 2 days remain for expiration -->
            <td ng-if="currentDate < compare(license.validTill) && (compare(license.validTill) - currentDate)/1000 > 172800">
              <button class="btn btn-success btn-xs">Active
              </button>
            </td>
            <!-- if less than 2 days remain for expiration -->
            <td ng-if="(compare(license.validTill) - currentDate)/1000 < 172800 && (compare(license.validTill) - currentDate)/1000 > 0">
              <button class="btn btn-warning btn-xs">Will Expire
              </button>
            </td>
            <!-- if expired -->
            <td ng-if="currentDate > compare(license.validTill) ">
              <button class="btn btn-danger btn-xs">Expired
              </button>
            </td>
            <td><a ng-href="#/license/{{license.id}}">View profile</a></td>
        </tr>
    </table>

</div>
