<div data-ng-controller="HeaderController as vm">
    <!-- nav -->
    <nav class="navbar navbar-default ">

        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#/"><i class="fa fa-2x fa-home"></i></a>
                    </li>
                    <!-- Dropdowns -->
                    <li class="dropdown" data-ng-repeat="link in vm.menu" data-ng-if="link.type == 'dropdown'">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="{{link.glyph}}"></span> {{link.name}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="item in link.dropdown">
                                <a ng-if="item.name != 'Deliveries'" data-ng-href="#/{{item.url}}">{{item.name}}</a>
                                <a ng-if="item.name == 'Deliveries' && isReleaseEngineer" data-ng-href="#/{{item.url}}">{{item.name}}</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Links -->
                    <li data-ng-class="{active:vm.isActive('/{{link.url}}')}" data-ng-repeat="link in vm.menu"
                        data-ng-if="link.type == 'link'">
                        <a data-ng-href="#/{{link.url}}">
                            <span class="{{link.glyph}}"></span> {{link.name}}
                        </a>
                    </li>

                    <li>
                        <a href="#/addMailTemplate">Add mail template</a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="search">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" ng-model="searchbox">
                            </div>

                            <button type="submit" class="btn btn-default" ng-click="find(searchbox)"><i class="fa fa-search"></i></button>

                            <button type="submit" class="btn btn-default dropdown" data-toggle="dropdown"><i
                                    class="fa fa-level-down"></i></button>

                            <ul class="dropdown-menu search-list" role="menu">
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox1" ng-model="checkLicense" ng-init="checkLicense=true">
                                        <label for="checkbox1">
                                            Licenses
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox3" ng-model="checkCustomer" ng-init="checkCustomer=true">
                                        <label for="checkbox3">
                                            Customers
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkProduct" ng-init="checkProduct=true">
                                        <label for="checkbox2">
                                            Products
                                        </label>
                                    </div>
                                </li>
                              </br>
                                Search by license status</br>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkREJECTED" ng-init="checkREJECTED=true">
                                        <label for="checkbox2">
                                            REJECTED
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkNEGOTIATED" ng-init="checkNEGOTIATED=true">
                                        <label for="checkbox2">
                                            NEGOTIATED
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkWAITING_FOR_SIGNATURE" ng-init="checkWAITING_FOR_SIGNATURE=true">
                                        <label for="checkbox2">
                                            WAITING_FOR_SIGNATURE
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkACTIVE" ng-init="checkACTIVE=true">
                                        <label for="checkbox2">
                                            ACTIVE
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkEXPIRATION_NEARING" ng-init="checkEXPIRATION_NEARING=true">
                                        <label for="checkbox2">
                                            EXPIRATION_NEARING
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2" ng-model="checkTERMINATED" ng-init="checkTERMINATED=true">
                                        <label for="checkbox2">
                                            TERMINATED
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </li>
                    <li>
                        <a data-ng-href="#/expiring-licenses" tooltips tooltip-class="tooltip-for-me" tooltip-title= '{{numberOfExpiringLicenses}} {{numberOfExpiringLicenses === 1 ? "license is expiring in 31 days" : "licenses are expiring in 31 days"}}' tooltip-side="bottom" tooltip-try="false">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i data-ng-class='["fa", "fa-bell", "fa-stack-1x", {"notification-on":expiringLicenses}]'>
                            </i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-ng-href="/logout">
                            <span class="{{link.glyph}}"></span> Log Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
