<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron">
        <h1>Hello, *username*!</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="#/" role="button">Create License</a></p>
      </div>
    </div>
    <div class="col-lg-4">
      <ul style="list-style-type: none;">
        <li>
          <div class="bs-callout bs-callout-danger">
            <h4> Event name</h4>
            <p>Event description comes here</p>
          </div>
        </li>
        <li>
          <div class="bs-callout bs-callout-success">
            <h4> Event name</h4>
            <p>Event description comes here</p>
          </div>
        </li>
        <li>
          <div class="bs-callout bs-callout-success">
            <h4> Event name</h4>
            <p>Event description comes here</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
