<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1>Hello, {{username}}!</h1>

                <p><a class="btn btn-primary btn-lg" href="#/customer/add" role="button">Start licensing process</a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <ul style="list-style-type: none;" ng-repeat="event in events">
                <li ng-if="event.type=='Add'">
                    <div class="bs-callout bs-callout-success">
                        <h4> {{ event.name }}
                            (<a href="#/license/{{event.license.id}}">{{ event.license.contractNumber }}</a>)
                        </h4>

                        <p>{{ event.description }}</p>

                        <p><i>{{ event.dateCreated }}</i></p>
                    </div>
                </li>
                <li ng-if="event.type=='Remove'">
                    <div class="bs-callout bs-callout-danger">
                        <h4> {{ event.name }}</h4>

                        <p>{{ event.description }}</p>

                        <p><i>{{ event.dateCreated }}</i></p>
                    </div>
                </li>
                <li ng-if="event.type=='Modify'">
                    <div class="bs-callout bs-callout-danger">
                        <h4> {{ event.name }}
                            (<a href="#/license/{{event.license.id}}">{{ event.license.contractNumber }}</a>)
                        </h4>

                        <p>{{ event.description }}</p>

                        <p><i>{{ event.dateCreated }}</i></p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
