<div class="container">
    <h3 class="custom-h3">Create license</h3>

    <form novalidate class="form" name="form" data-ng-submit="saveNewLicense()">
        <div class="form-group">
            <label for="product">Product</label>
            <input type="text" class="form-control" id="product"
                   value="{{prefillProduct.name + ' ' + prefillProduct.release}}" disabled>
        </div>

        <div class="form-group">
            <label for="customer">Customer</label>
            <input type="text" class="form-control" id="customer" data-ng-model="prefillCustomer.organizationName" disabled>
        </div>

        <div class="form-group">
            <label for="contractNumber">License contract number</label>
            <input type="text" class="form-control" id="contractNumber" data-ng-model="contractNumber" required>

            <div ng-if="errorMessage">{{ errorMessage }}</div>
        </div>

        <div class="form-group">
            <label for="predecessor">License predecessor</label>
            <select type="text" class="form-control" id="predecessor" data-ng-model="predecessor"
                    data-ng-options="license as license.contractNumber for license in licenses"
                    name="selectedPredecessor">
                <option value=""></option>
            </select>

            <div data-ng-if="predecessorErrorMessage">{{ predecessorErrorMessage }}</div>
        </div>

        <div class="form-group">
            <label for="state">License state</label>
            <select data-ng-options="state for state in allStates"
                    type="text" class="form-control" id="state" data-ng-model="state" required name="selectedState"
                    selected="">
            </select>
        </div>
        <div class="form-group">
            <label>License type</label>
            <select data-ng-model="license.type" data-ng-options="type as type.name for type in types track by type.name"
                    type="text" class="form-control" id="type"
                    required name="selectedTemplate" data-ng-disabled="editorDisabled" ng-change="licenseTypeSelected()">
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default" id="addLicenseSubmit">CREATE</button>
        </div>
    </form>

    <form novalidate class="form" data-ng-if="licenseSaved">
        <h3>Send email</h3>

        <div class="form-group">
            <label>Choose one/multiple recipients:</label>
            <select data-ng-options="contact as (contact.firstName + ' ' + contact.lastName) for contact in contacts"
                    type="text" class="form-control" id="contact" data-ng-model="mailContact"
                    required name="selectedTemplate">
            </select>
        </div>

        <div class="form-group">
            <!-- Choose suitable mail template/subject. The given templates are based on license type -->
            <label>Subject:</label>
            <select data-ng-options="body as body.subject for body in bodiesByLicenseType"
                    type="text" class="form-control" id="body" data-ng-model="mailTemplate" data-ng-change="mailBodySelected()"
                    required name="selectedTemplate">
            </select>
            <br>
            <label>Chosen mail body</label>
            <textarea class="form-control" rows="8" data-ng-model="mailBodyFormatted"></textarea>
        </div>

        <div class="form-group">
            <label>Choose attachment:</label>
            <select data-ng-options="attachment as attachment.fileName for attachment in attachments"
                    type="text" class="form-control" id="attachment" data-ng-model="chosenAttachment"
                    required name="selectedTemplate">
            </select>
        </div>
        <button data-ng-click="sendMail()">Send</button>
    </form>

</div>
