<!-- Add license form -->
<div class="container">
    <h3>Create license</h3>

    <form novalidate class="form" name="form" ng-submit="saveData()">
        <div class="form-group">
            <label for="product">Product</label>
            <input type="text" class="form-control" id="product"
                   value="{{prefillProduct.name + ' ' + prefillProduct.release}}" disabled>
        </div>

        <div class="form-group">
            <label for="customer">Customer</label>
            <input type="text" class="form-control" id="customer" ng-model="prefillCustomer.organizationName" disabled>
        </div>

        <div class="form-group">
            <label for="contractNumber">License contract number</label>
            <input type="text" class="form-control" id="contractNumber" ng-model="contractNumber" required>
            <div ng-if="errorMessage">{{ errorMessage }}</div>
        </div>

        <div class="form-group">
            <label for="predecessor">License predecessor</label>
            <select type="text" class="form-control" id="predecessor" ng-model="predecessor"
                    ng-options="license as license.contractNumber for license in licenses"
                    name="selectedPredecessor">
                <option value=""> </option>
            </select>
        </div>

        <div class="form-group">
            <label for="state">License state</label>
            <select ng-options="state for state in allStates"
                    type="text" class="form-control" id="state" ng-model="state" required name="selectedState"
                    selected="">
            </select>
        </div>

       <!-- <div class="form-group">
            <label>License type</label>
            <select ng-options="type as type.name for type in types"
                    type="text" class="form-control" id="type" ng-model="type"
                    required name="selectedTemplate">
            </select>
        </div>-->

        <div class="form-group">
            <label for="validFrom">Valid from</label>
            <input type="text" class="form-control" id="validFrom" ng-model="validFrom">
        </div>

        <div class="form-group">
            <label for="validTill">Valid till</label>
            <input type="text" class="form-control" id="validTill" ng-model="validTill">
        </div>
        <br>

        <div class="form-group">
            <button type="submit" class="btn btn-default" id="addLicenseSubmit">SUBMIT</button>
        </div>
    </form>

</div>
