<!-- Add license form -->
<div class="container">
    <h3>Create license</h3>

    <form novalidate class="form" name="form" ng-submit="saveData()">
        <div class="form-group">
            <label for="product">Product</label>
            <input type="text" class="form-control" id="product" ng-model="prefillProduct.name" disabled>
        </div>

        <div class="form-group">
            <label for="customer">License owner</label>
            <input type="text" class="form-control" id="customer" ng-model="prefillCustomer.organizationName" disabled>
        </div>

        <div class="form-group">
            <label for="customer">License contract number</label>
            <input type="text" class="form-control" id="contractNumber" ng-model="prefillContractNumber" disabled>
        </div>

        <div class="form-group">
            <label for="customer">License predecessor</label>
            <input type="text" class="form-control" id="predecessor" ng-model="prefillPredecessor" disabled>
        </div>

        <div class="form-group">
            <label for="customer">License state</label>
            <input type="text" class="form-control" id="state" ng-model="prefillState" disabled>
        </div>

        <div class="form-group">
            <label for="validFrom">Valid From(ex. '2015-10-15')</label>
            <input type="text" class="form-control" id="validFrom" ng-model="user.validFrom">
        </div>
        <div class="form-group">
            <label for="validTill">Valid Till(ex. '2015-10-15')</label>
            <input type="text" class="form-control" id="validTill" ng-model="user.validTill">
        </div>
        <br>

        <div class="form-group">
            <button type="submit" class="btn btn-default" id="addLicenseSubmit">SUBMIT</button>
        </div>
    </form>

</div>
