<div class="container">
    <h3>Licenses</h3>

    <input type="radio" data-ng-model="deliveryFilterType" value="delivery" data-ng-change='newValue("delivery")'/>
    Needs
    delivery
    <input type="radio" data-ng-model="deliveryFilterType" value="update" data-ng-change='newValue("update")'/> Needs
    update
    <input type="radio" data-ng-model="deliveryFilterType" value="upToDate" data-ng-change='newValue("upToDate")'/> Up
    to date

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>

                <input type="text" class="form-control" placeholder="Search licenses" data-ng-model="searchLicense">

            </div>
        </div>
    </form>

    <div class="table-container">
        <div class="row panel-heading table-header">
            <div class="col-md-2">
                <a href="" data-ng-click="sortType = 'contractNumber'; sortReverse = !sortReverse">Contract Nr
                    <span data-ng-show="sortType == 'contractNumber' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'contractNumber' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" data-ng-click="sortType = 'product.name'; sortReverse = !sortReverse">Product name
                    <span data-ng-show="sortType == 'product.name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'product.name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" data-ng-click="sortType = 'customer.organizationName'; sortReverse = !sortReverse">Customer
                    <span data-ng-show="sortType == 'customer.organizationName' && !sortReverse"
                          class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'customer.organizationName' && sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" data-ng-click="sortType = 'state'; sortReverse = !sortReverse">State
                    <span data-ng-show="sortType == 'state' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'state' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </div>

            <div class="col-md-2">History</div>
            <div class="col-md-2">Notify</div>
        </div>
        <div data-ng-repeat="license in licenses | orderBy:sortType:sortReverse | filter:searchLicense">
            <div class="row panel panel-body">
                <div class="col-md-2" data-ng-bind="license.contractNumber"></div>
                <div class="col-md-2" data-ng-bind="license.product.name"></div>
                <div class="col-md-2" data-ng-bind="license.customer.organizationName"></div>
                <div class="col-md-2" data-ng-bind="license.state"></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm" data-ng-click="getDeliveredReleases(license.id)"
                            data-toggle="collapse" data-target="#view_{{license.id}}">See History
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm" data-ng-click="openDeliveryPage(license.id)">Deliver</button>
                </div>
            </div>
            <div class="collapse" id="view_{{license.id}}">
                <table class="table-striped table-condensed responsive-table">
                    <thead>
                    <tr class="row">
                        <th>Release Number</th>
                        <th>Delivery Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row" data-ng-repeat="dr in deliveredReleases">
                        <td data-ng-bind="dr.release.versionNumber"></td>
                        <td>{{dr.deliveryDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td data-ng-bind="dr.user"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
