<div class="container">
    <h3>Licenses</h3>
    <table class="table table-condensed table-striped" id="licensesTable">
        <theader>
            <tr>
                <th>Product name</th>
                <th>Applicant name</th>
                <th>Organization</th>
                <th>Email</th>
                <th>Skype</th>
                <th>Phone</th>
                <th>Application area</th>
            </tr>
        </theader>
        <tr ng-repeat="license in licenses">
            <td>{{ license.product.name + ' ' + license.product.release }}</td>
            <td>{{ license.name }}</td>
            <td>{{ license.organization }}</td>
            <td>{{ license.email }}</td>
            <td>{{ license.skype }}</td>
            <td>{{ license.phone }}</td>
            <td>{{ license.applicationArea }}</td>
            <td><a ng-href="#/license/{{license.id}}">View profile</a></td>
        </tr>
    </table>
</div>
