<div class="container">
    <h3>Create license type</h3>

    <form novalidate class="form" name="form" data-ng-submit="addNewType()">
        <div class="form-group">
            <label for="typeName">Name</label>
            <input type="text" class="form-control" id="typeName" data-ng-model="type.name"
                   required name="pName">

            <div data-ng-show="form.$submitted || form.pName.$touched">
                <div data-ng-show="form.pName.$error.required">Type name is needed.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="typeValidityPeriod">Validity period in years</label>
            <input type="text" class="form-control" id="typeValidityPeriod" data-ng-model="type.validityPeriod"
                   required name="pValidityPeriod">

            <div data-ng-show="form.$submitted || form.pName.$touched">
                <div data-ng-show="form.pValidityPeriod.$error.required">Type validity period is needed.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="typeCost">Cost</label>
            <input type="text" class="form-control" id="typeCost" data-ng-model="type.cost"
                   required name="pCost"/>

            <div data-ng-show="form.$submitted || form.pName.$touched">
                <div data-ng-show="form.pCost.$error.required">Type cost is needed.</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>