<div class="container">
    <div data-ng-include="'components/license/profileNavigation.html'"></div>
    <h3>License</h3>

    <form novalidate class="form">
        <div class="form-group">
            <label for="product">Product:</label>
            <input id="product" class="form-control" value="{{license.product.name + ' ' + license.product.release}}"
                   disabled/>
        </div>
        <div class="form-group">
            <label for="applicantName">Contract number: </label>
            <input id="applicantName" class="form-control" ng-model="license.contractNumber" ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>Customer: </label>
            <input class="form-control" ng-model="license.customer.organizationName" disabled/>
        </div>
        <div class="form-group">
            <label>State: </label>
            <input class="form-control" ng-model="license.state" ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>Predecessor License Id: </label>
            <input class="form-control" ng-model="license.predecessorLicenseId" ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>Application submit date: </label>
            <input class="form-control" ng-model="license.applicationSubmitDate" ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>License type: </label>
           <select ng-model="license.type" ng-options="type as type.name for type in types track by type.name"
                    type="text" class="form-control" id="type"
                    required name="selectedTemplate" ng-disabled="editorDisabled" ng-change="licenseTypeSelected()">
            </select>
        </div>

        <button ng-click="enableEditor()">Edit</button>
        <button ng-click="saveProfile()" ng-disabled="editorDisabled">Save</button>
        <br>
        <!--<button ng-click="disableEditor()" ng-disabled="editorDisabled">Cancel</button>-->
    </form>
    <br>
    <div class="form-group">
        <label>Choose suitable mail template. The given templates are based on license type : </label>
        <select ng-options="body as body.subject for body in bodies"
                type="text" class="form-control" id="body" ng-model="mailBody" ng-change="mailBodySelected()"
                required name="selectedTemplate">
        </select>
        <br>
        <label>Chosen mail body: </label>
        <textarea class="form-control" rows="6" ng-model="mailBody.body"></textarea>
    </div>
    <button ng-click="sendMail()">Send</button>
</div>
