<div class="container">
    <!-- Header -->
    <div data-ng-include="'components/license/profileNavigation.html'"></div>
    <!--<a ng-href="#/authorisedUser/bylicense/{{licenseId}}">Authorised Users</a>-->
    <h3>License</h3>

    <div class="form-group">
        <div>
            <b><label for="product">Product:</label></b><br>
            <input id="product" class="form-group" value="{{license.product.name + ' ' + license.product.release}}"
                   disabled/><br>
        </div>
        <div>
            <b><label for="applicantName">Applicant name (person): </label></b><br>
            <input id="applicantName" class="form-group" ng-model="license.name" ng-disabled="editorDisabled"/><br>
        </div>
        <div>
            <b><label>Customer: </label></b><br>
            <input class="form-group" ng-model="license.customer.name" disabled/><br>
        </div>
        <div>
            <b><label>Email: </label></b><br>
            <input class="form-group" ng-model="license.email" ng-disabled="editorDisabled"/><br>
        </div>
        <div>
            <b><label>Phone: </label></b><br>
            <input class="form-group" ng-model="license.phone" ng-disabled="editorDisabled"/><br>
        </div>
        <div>
            <b><label>Skype: </label></b><br>
            <input class="form-group" ng-model="license.skype" ng-disabled="editorDisabled"/><br>
        </div>
        <div >
            <b><label>Application area: </label></b><br>
            <input class="form-group" ng-model="license.applicationArea" maxlength="200" ng-disabled="editorDisabled"/><br>
        </div>

    </div>

    <button ng-click="enableEditor()">Edit</button>
    <br>
    <button ng-click="saveProfile()" ng-disabled="editorDisabled">Save</button>
    <br>
    <!--<button ng-click="disableEditor()" ng-disabled="editorDisabled">Cancel</button>-->


</div>

