<div class="container">
    <div data-ng-include="'components/license/profileNavigation.html'"></div>
    <h3>License</h3>

    <form novalidate class="form">
        <div class="form-group">
            <label for="product">Product:</label>
            <input id="product" class="form-control" value="{{license.product.name + ' ' + license.product.release}}"
                   disabled/>
        </div>
        <div class="form-group">
            <label for="applicantName">Contract number: </label>
            <input id="applicantName" class="form-control" data-ng-model="license.contractNumber"
                   data-ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>Customer: </label>
            <input class="form-control" data-ng-model="license.customer.organizationName" disabled/>
        </div>
        <div class="form-group">
            <label>State: </label>
            <select
                    data-ng-options="state for state in allStates track by state"
                    type="text" class="form-control" id="state" data-ng-model="license.state" required name="selectedState"
                    data-ng-disabled="stateEditorDisabled">
            </select>
        </div>
        <div class="form-group">
            <label>Predecessor license Id: </label>
            <input class="form-control" data-ng-model="license.predecessorLicenseId" data-ng-disabled="editorDisabled"/>
        </div>
        <div class="form-group">
            <label>Application submit date: </label>
            <input class="form-control" data-ng-model="license.applicationSubmitDate" disabled/>
        </div>
        <div class="form-group">
            <label>License type: </label>
            <select data-ng-model="license.type" data-ng-options="type as type.name for type in types track by type.name"
                    type="text" class="form-control" id="type"
                    required name="selectedTemplate" data-ng-disabled="typeEditorDisabled" data-ng-change="licenseTypeSelected()">
            </select>
        </div>
        <div class="form-group">
            <label>Valid from: </label>
            <input class="form-control" data-ng-model="license.validFrom" disabled/>
        </div>
        <div class="form-group">
            <label>Valid till: </label>
            <input class="form-control" data-ng-model="license.validTill" disabled/>
        </div>

        <button data-ng-if="isLicensingManager" data-ng-click="enableEditor()">Edit</button>
        <button data-ng-if="isLicensingManager" data-ng-click="saveProfile()" data-ng-disabled="editorDisabled">Save</button>
        <br>
        <!--<button data-ng-click="disableEditor()" data-ng-disabled="editorDisabled">Cancel</button>-->
    </form>

</div>
