<div class="container">
    <!-- Header -->
    <div data-ng-include="'components/license/profileNavigation.html'"></div>
    <h3>Authorised Users</h3>
    <table class="table table-striped" id="authorisedUsersTable">
        <thead>
            <tr>
                <th>First name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody>

        <tr ng-repeat="au in authorisedUser" ng-include="getScriptId(au)">
            <script type="text/ng-template" id="display">
                <td>{{au.firstName}}</td>
                <td>{{au.lastName}}</td>
                <td>{{au.email}}</td>
                <td>{{au.occupation}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="editAuthorisedUser(au)">EDIT</button>
                    <button ng-click="deleteEntry(au)" class="btn btn-danger">DELETE</button>
                </td>
            </script>
            <script type="text/ng-template" id="edit">
                <td>
                    <form id ="row-form" novalidate class="form" name="rowforms.form" ng-submit="save(au)" >
                    <input form="row-form" type="text" ng-model="selected.firstName" class="form-control input-sm" required="" name="firstName" size="4"/></form>
                    <div ng-show="rowforms.form.$submitted || rowforms.form.firstName.$touched">
                        <div ng-show="rowforms.form.firstName.$error.required">First name is needed.</div>
                    </div>

                </td>
                <td><input form="row-form" type="text" ng-model="selected.lastName" class="form-control input-sm" size="4"/></td>
                <td><input form="row-form" type="text" ng-model="selected.email" class="form-control input-sm" size="4"/></td>
                <td><input form="row-form" type="text" ng-model="selected.occupation" class="form-control input-sm" size="4"/></td>
                <td>
                    <!--<button class="btn btn-default" ng-click="updateAuthorisedUser(au)">Save</button>-->
                    <button form="row-form" type="submit" class="btn btn-primary" >Save</button>
                    <button class="btn btn-default" ng-click="reset(au)">Cancel</button>
                </td>
                </form>
            </script>

        </tr>
        </form>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="openAuthorisedUserForm()">Add user</button>
    <div ng-show="AuthorisedUserForm">
        <form novalidate class="form" name="form" ng-submit="saveData()">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" ng-model="authorised.firstName" required name="authName" size="4">
                <div ng-show="form.$submitted || form.authName.$touched">
                    <div ng-show="form.authName.$error.required">First name is needed.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" ng-model="authorised.lastName" required
                       name="authSurname" size="4">

                <div ng-show="form.$submitted || form.authSurname.$touched">
                    <!--<div ng-show="form.pRelease.$error.required">Release number is needed.</div>-->
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" ng-model="authorised.email" required
                       name="authEmail" size="4">

                <div ng-show="form.$submitted || form.authEmail.$touched">
                    <div ng-show="form.authEmail.$error.required">Email is needed.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="occupation">Occupation</label>
                <input type="text" class="form-control" id="occupation" ng-model="authorised.occupation" required
                       name="authOccupation" size="4">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </form>
    </div>

</div>
</div>