<div class="container blaa">


    <label class="control-label">Choose file for attachment</label>
    <input type="file" id="file" name="file"/>

    <label for="name">Give file a name</label><br>
    <input type="text" id="name" value="" ng-model="upload.fileName"><br>


    <button ng-click="uploadFile()">Add</button>

    <br>

    <form novalidate class="form" name="addTemplateForm" ng-submit="saveMailBody()">

        <label class="control-label">Paste mail body</label><br>
        <textarea rows="4" cols="50">
        </textarea><br>
        <button type="submit" id="mailBody-button">Upload</button>

    </form>
</div>