<div class="container">
    <h3>License owners</h3>
    <table class="table">
        <theader>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td>Webpage</td>
                <td>Registration code</td>
                <td>Phone</td>
                <td>Bank account</td>
                <td>Fax</td>
                <td>Unit or faculty</td>
            </tr>
        </theader>
        <tbody>
        <tr ng-repeat="licenseOwner in licenseOwners">
            <td>{{ licenseOwner.name }}</td>
            <td>{{ licenseOwner.address }}</td>
            <td>{{ licenseOwner.webpage }}</td>
            <td>{{ licenseOwner.registrationCode }}</td>
            <td>{{ licenseOwner.phone }}</td>
            <td>{{ licenseOwner.bankAccount }}</td>
            <td>{{ licenseOwner.fax }}</td>
            <td>{{ licenseOwner.unitOrFaculty }}</td>
            <td><a ng-href="#/edit/placeholder">Edit</a></td>
            <td><a ng-href="#/edit/placeholder">View licenses</a></td>
        </tr>
        </tbody>
    </table>
</div>
