<form>
    <div class="form-group input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search products" data-data-ng-model="searchProduct">
    </div>
</form>
<uib-accordion close-others="oneAtATime">
    <uib-accordion-group data-ng-repeat="product in products">
        <uib-accordion-heading>
            <div data-ng-if="!product.editing">{{product.name}}
                <button data-ng-if="!product.editing" class="btn btn-small btn-primary"
                        data-ng-click="editProduct(product)">
                    Edit
                </button>
                <button data-ng-if="!product.editing" tooltip-enable="showProductDeleteNotification"
                        popover-placement="right"
                        uib-popover="This product is connected with license(s). To delete this product, delete the licenses for this product first."
                        type="button" id="productDeleteButton" class="btn btn-small btn-danger"
                        data-ng-click="deleteProduct(product)">Delete
                </button>
            </div>
            <div data-ng-if="product.editing"><input type="text" data-ng-model="product.name"/></div>
            <div data-ng-if="product.editing">
                <button class="btn btn-default" data-ng-click="saveProduct(product)">SAVE</button>
            </div>
            <div data-ng-if="product.editing">
                <button class="btn btn-default" data-ng-click="cancelProductEditing(product)">CANCEL</button>
            </div>
        </uib-accordion-heading>
        <table class="table-condensed">
            <thead>
            <tr>
                <th>Version</th>
                <th>Addition Date</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="release in product.releases">
                <td data-ng-if="!release.editing">{{release.versionNumber}}</td>
                <!-- TODO release.additionDate peaks tulema tänase kuupäeva järgi automaatselt, see hoiab ka releaseid arrays õiges järjekorras, mida on vaja mailbody muutmisel (seal võetakse alati viimane release arrayst)-->
                <td data-ng-if="!release.editing">{{release.additionDate}}</td>
                <td data-ng-if="!release.editing">
                    <button class="btn btn-default" data-ng-click="editRelease(release)">EDIT</button>
                </td>
                <td data-ng-if="!release.editing">
                    <button class="btn btn-default" data-ng-click="deleteRelease(release,product)"
                            tooltip-enable="showReleaseDeleteNotification" popover-placement="right"
                            uib-popover="This release is connected with license(s). To delete this release, delete the licenses that have this release first."
                            type="button">DELETE
                    </button>
                </td>
                <form data-ng-if="release.editing" id="row-form" novalidate class="form" name="rowforms.form"
                      data-ng-submit="saveRelease(product, release)">
                    <td data-ng-if="release.editing"><input form="row-form" type="text"
                                                            data-ng-model="release.versionNumber"
                                                            class="form-control input-sm"/></td>
                    <td data-ng-if="release.editing">
                        <input form="row-form" type="text" data-ng-model="release.additionDate"
                               class="form-control input-sm"
                               placeholder="YYYY-MM-DD"/>
                    </td>

                    <td data-ng-if="release.editing">
                        <button form="row-form" class="btn btn-default">SAVE</button>
                        <button form="row-form" class="btn btn-default" data-ng-click="cancelReleaseEditing(release)">
                            CANCEL
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" data-ng-click="openReleaseForm(product)">Add release</button>
    </uib-accordion-group>
</uib-accordion>


